body {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}

.signup{

 position:fixed;
   top:20%;
   left:20%;
   width:600px;
   background-color: white;
}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 10;
    border: none;
    cursor: pointer;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.containing {
    padding: 16px;
}

span.psw {
    float: left;
    padding-top: 16px;
}
.popup_login_visible{


}
.popup_login_invisible{

}

.form{
   align:center;
   border: 3px solid #f1f1f1;

}
.btn
{
  margin-top: 20px;
   margin-left: 20px;

}
.container {

  margin: 0 auto;
  min-height: 100%;
  background: white;
}
.nav{
width: 98%;
margin-left:10px;
margin-top:5px;

}
 
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 .form-group
 {
      margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 10px;
 }
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 .inactive {
    color: black;
    text-decoration: none;
     margin-left: 50px;

}
li .text {
  margin-left: 10px;
}


.active {
    color: blue;
    text-decoration: none;
  }
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}

 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}